@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
}
body{
    background: repeating-radial-gradient(
        circle,
    #7352FF,
        white 3px,
        rgb(255, 255, 255) 100px,
        #ffffff 22px
    );
    }